* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #F9F9F9;
  --color-blue: #0400AF;
  --color-black: #1B1B1B;
  --color-dark-blue: #00095F;
  --color-light-blue: #09ACF2;
  --color-gray: #D9D9D9;
}

@import url("styles/base.css");

body {
  background: var(--color-white);
  height: 100%;
}